Repository m0-foundation/evm-m-extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run solhint

Chore/swap facility upgrades (#98)
  Makefile
  broadcast/ProposeSwapFacilityUpgrade.s.sol/10/run-1769257814322.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/10/run-latest.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/1868/run-1769211596722.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/1868/run-latest.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/42161/run-1769258566835.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/42161/run-latest.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/5888/run-latest.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/999/run-1772539588345.json
  broadcast/ProposeSwapFacilityUpgrade.s.sol/999/run-latest.json
  broadcast/ProposeTimelockSwapFacilityUpgrade.s.sol/56/run-1772538383042.json
  broadcast/ProposeTimelockSwapFacilityUpgrade.s.sol/56/run-latest.json
  broadcast/ProposeTimelockSwapFacilityUpgrade.s.sol/59144/run-1772537397710.json
  broadcast/ProposeTimelockSwapFacilityUpgrade.s.sol/59144/run-latest.json
  deployments/59144.json
  script/Config.sol
Due: npm run prettier

chore: replace transient storage Locker with sstore/sload variant
  src/swap/ReentrancyLock.sol
  src/swap/libs/Locker.sol
Due: npm run prettier, npm run solhint

chore(ForceTransferable): use floating version
  src/components/forcedTransferable/ForcedTransferable.sol
  src/components/forcedTransferable/IForcedTransferable.sol
Due: npm run prettier, npm run solhint

chore(ForceTransferable): use floating version (#107)
  src/components/forcedTransferable/ForcedTransferable.sol
  src/components/forcedTransferable/IForcedTransferable.sol
Due: npm run prettier, npm run solhint

Add hooks for freeze/unfreeze, pause/unpause (#104)
  src/components/forcedTransferable/ForcedTransferable.sol
  src/components/forcedTransferable/IForcedTransferable.sol
  src/components/freezable/Freezable.sol
  src/components/pausable/Pausable.sol
Due: npm run prettier, npm run solhint

Add paused /unpaused modifiers
  src/components/pausable/Pausable.sol
Due: npm run prettier, npm run solhint

chore: upgrade common submodule
  .gitmodules
Due: none

chore: upgrade common submodule (#108)
  .gitmodules
Due: none

feat: add FreezableNonUpgradeable
  src/components/freezable/Freezable.sol
  src/components/freezable/FreezableCore.sol
  src/components/freezable/FreezableNonUpgradeable.sol
  test/harness/FreezableNonUpgradeableHarness.sol
  test/unit/components/freezable/FreezableNonUpgradeable.t.sol
Due: npm run prettier, npm run solhint

deploy: TestCorp on Ethereum Sepolia (11155111)
  deployments/11155111.json
Due: npm run prettier

deploy: Tropitalos on Ethereum Sepolia (11155111)
  deployments/11155111.json
Due: npm run prettier

deploy: Tally Ho on Arbitrum Sepolia (421614)
  deployments/421614.json
Due: npm run prettier

deploy: Tribunal on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: Testeros on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: Leto Chain on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: Pablos Chain on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: Matts Corp on Arbitrum Sepolia (421614)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: The BOys on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: The Real Boys on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

deploy: Croati on Arbitrum Sepolia (421614)
  deployments/421614.json
Due: npm run prettier

deploy: Jovi on Arbitrum Sepolia (421614)
  deployments/421614.json
Due: npm run prettier

deploy: TestPartner on Ethereum Sepolia (11155111)
  deployments/11155111.json
Due: npm run prettier

deploy: Giant Trenches on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

Deploy/0g (#100)
  Makefile
  broadcast/DeploySwapFacility.s.sol/16661/run-1771368196969.json
  broadcast/DeploySwapFacility.s.sol/16661/run-latest.json
  deployments/16661.json
  script/Config.sol
Due: npm run prettier

feat(MYieldToOneForcedTransfer): gate claimYield with pause and decouple setYieldRecipient
  src/projects/yieldToOne/MYieldToOneForcedTransfer.sol
  test/unit/projects/yieldToOne/MYieldToOneForcedTransfer.t.sol
Due: npm run prettier, npm run solhint

feat(MYieldToOneForcedTransfer): gate claimYield with pause and decouple setYieldRecipient (#110)
  src/projects/yieldToOne/MYieldToOneForcedTransfer.sol
  test/unit/projects/yieldToOne/MYieldToOneForcedTransfer.t.sol
Due: npm run prettier, npm run solhint

chore: add Moca deploy config
  Makefile
  script/deploy/DeployBase.s.sol
Due: npm run prettier

feat(deploy): decouple proxy admin from contract admin in extension deploys
  script/Config.sol
  script/deploy/DeployBase.s.sol
  script/deploy/DeployJMIExtension.s.sol
  script/deploy/DeployMEarnerManager.s.sol
  script/deploy/DeployYieldToAllWithFee.s.sol
  script/deploy/DeployYieldToOne.s.sol
  script/deploy/DeployYieldToOneForcedTransfer.s.sol
Due: npm run prettier

docs(env): add PROXY_ADMIN to .env.example for all 5 extensions
  .env.example
Due: none

deploy: SpongeBob on Ethereum Sepolia (11155111)
  deployments/11155111.json
  deployments/421614.json
Due: npm run prettier

feat: add scripts to enable earning and propose permissioned extensions on SwapFacility
  Makefile
  script/execute/EnableEarning.s.sol
  script/execute/ProposeSetPermissionedExtension.s.sol
  script/execute/ProposeSetPermissionedMSwapper.s.sol
Due: npm run prettier

chore: usdr deploy configuration
  Makefile
  script/Config.sol
Due: npm run prettier

refactor(execute): align imports in execute/ scripts with deploy/ convention
  script/execute/EnableEarning.s.sol
  script/execute/ProposeSetPermissionedExtension.s.sol
  script/execute/ProposeSetPermissionedMSwapper.s.sol
Due: npm run prettier

feat(execute): add testnet-direct EOA broadcast targets for SwapFacility
  Makefile
  script/execute/SetPermissionedExtensionDirect.s.sol
  script/execute/SetPermissionedMSwapperDirect.s.sol
Due: npm run prettier

chore: deploy USDR on rise
  broadcast/DeployJMIExtension.s.sol/4153/run-1778519191437.json
  broadcast/DeployJMIExtension.s.sol/4153/run-latest.json
  deployments/4153.json
  script/deploy/DeployBase.s.sol
Due: npm run prettier

fix: redeploy usdr at pre-approved earner address
  broadcast/DeployJMIExtension.s.sol/4153/run-1778583453772.json
  broadcast/DeployJMIExtension.s.sol/4153/run-1778583895819.json
  deployments/4153.json
Due: npm run prettier

Path conditions:
  npm run prettier: any of: *.{json,md,sol,yml}
  npm run solhint: any of: {src,test}/**/*.sol
