Repository m0-foundation/evm-m-extensions: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run solhint

.lintstagedrc:

{
  "*.{json,md,sol,yml}": [
    "npm run prettier"
  ],
  "{src,test}/**/*.sol": [
    "npm run solhint"
  ]
}

feat(MYieldToOne): shield balanceOf with suint256 + Seismic build profile
  .gitignore
  foundry.toml
  scripts/seismic-env.sh
  src/MExtension.sol
  src/projects/yieldToOne/MYieldToOne.sol
  src/projects/yieldToOne/interfaces/IMYieldToOne.sol
  test/harness/JMIExtensionHarness.sol
  test/harness/MYieldToOneForcedTransferHarness.sol
  test/harness/MYieldToOneHarness.sol
Due: npm run prettier, npm run solhint

chore(hooks): teach pre-commit to use the Seismic toolchain
  .husky/pre-commit
  Makefile
  test.sh
Due: none

feat(MYieldToOne): SRC20-style shielding for transfer/approve pipeline
  src/projects/yieldToOne/MYieldToOne.sol
  src/projects/yieldToOne/interfaces/IMYieldToOne.sol
  test/harness/MYieldToOneHarness.sol
  test/unit/projects/yieldToOne/MYieldToOne.t.sol
Due: npm run prettier, npm run solhint

feat(MYieldToOne): exempt SwapFacility from balanceOf gate
  src/projects/yieldToOne/MYieldToOne.sol
  test/unit/projects/yieldToOne/MYieldToOne.t.sol
Due: npm run prettier, npm run solhint

deploy: New York on Arbitrum Sepolia (421614)
  deployments/421614.json
Due: npm run prettier

deploy: New York on Ethereum Sepolia (11155111)
  deployments/11155111.json
Due: npm run prettier

feat(MYieldToOne): allowlist-gated native ERC20 surface for M0 infra
  src/projects/yieldToOne/MYieldToOne.sol
  src/projects/yieldToOne/interfaces/IMYieldToOne.sol
  test/harness/MYieldToOneForcedTransferHarness.sol
  test/integration/MYieldToOne.t.sol
  test/unit/projects/yieldToOne/MYieldToOne.t.sol
  test/unit/projects/yieldToOne/MYieldToOneForcedTransfer.t.sol
Due: npm run prettier, npm run solhint

refactor(deploy): rename proxyAdmin to proxyAdminOwner
  .env.example
  script/Config.sol
  script/deploy/DeployBase.s.sol
  script/deploy/DeployJMIExtension.s.sol
  script/deploy/DeployMEarnerManager.s.sol
  script/deploy/DeployYieldToAllWithFee.s.sol
  script/deploy/DeployYieldToOne.s.sol
  script/deploy/DeployYieldToOneForcedTransfer.s.sol
Due: npm run prettier

deploy: New Generation Partner on Ethereum Sepolia (11155111)
  deployments/11155111.json
Due: npm run prettier

deploy: JukeBox on Arbitrum Sepolia (421614)
  deployments/421614.json
Due: npm run prettier

deploy: JukeBox on Ethereum Sepolia (11155111)
  deployments/11155111.json
Due: npm run prettier

feat(deploy): decouple proxy admin from contract admin in extension deploys (#113)
  .env.example
  script/Config.sol
  script/deploy/DeployBase.s.sol
  script/deploy/DeployJMIExtension.s.sol
  script/deploy/DeployMEarnerManager.s.sol
  script/deploy/DeployYieldToAllWithFee.s.sol
  script/deploy/DeployYieldToOne.s.sol
  script/deploy/DeployYieldToOneForcedTransfer.s.sol
Due: npm run prettier

feat: add scripts to enable earning and propose permissioned extensions on SwapFacility (#114)
  Makefile
  script/execute/EnableEarning.s.sol
  script/execute/ProposeSetPermissionedExtension.s.sol
  script/execute/ProposeSetPermissionedMSwapper.s.sol
Due: npm run prettier

feat(MYieldToOne): encrypted Transfer events via per-recipient ECDH
  src/projects/yieldToOne/MYieldToOne.sol
  src/projects/yieldToOne/interfaces/IMYieldToOne.sol
Due: npm run prettier, npm run solhint

test(MYieldToOne): cover encrypted Transfer events + dual-emit regression
  foundry.toml
  src/projects/yieldToOne/MYieldToOne.sol
  test/harness/MYieldToOneHarness.sol
  test/unit/projects/yieldToOne/MYieldToOne.t.sol
Due: npm run prettier, npm run solhint

chore(MYieldToOne): drop docs/ references from NatSpec and foundry.toml
  foundry.toml
  src/projects/yieldToOne/MYieldToOne.sol
  src/projects/yieldToOne/interfaces/IMYieldToOne.sol
Due: npm run prettier, npm run solhint

feat(execute): testnet-direct EOA broadcast targets for SwapFacility (#115)
  Makefile
  script/execute/SetPermissionedExtensionDirect.s.sol
  script/execute/SetPermissionedMSwapperDirect.s.sol
Due: npm run prettier

chore(submodule): declare lib/common branch = feat/erc20-virtual in .gitmodules
  .gitmodules
Due: none

chore(seismic): cap optimizer_runs at 800 so JMIExtension fits EIP-170
  foundry.toml
Due: none

docs(MYieldToOne): trim verbose comments and fix stale shielded-transfer NatSpec
  foundry.toml
  src/projects/yieldToOne/MYieldToOne.sol
  src/projects/yieldToOne/interfaces/IMYieldToOne.sol
  test/integration/MYieldToOne.t.sol
  test/unit/projects/yieldToOne/MYieldToOne.t.sol
Due: npm run prettier, npm run solhint

refactor: extract ArrayLengthMismatch into shared IArrayErrors interface
  src/components/forcedTransferable/IForcedTransferable.sol
  src/interfaces/IArrayErrors.sol
  src/projects/earnerManager/IMEarnerManager.sol
  test/unit/components/forcedTransferable/ForcedTransferable.t.sol
  test/unit/projects/MEarnerManager.t.sol
  test/unit/projects/yieldToOne/MYieldToOneForcedTransfer.t.sol
Due: npm run prettier, npm run solhint

feat(seismic): auto-verify deployed contracts on the socialscan explorer
  .gitignore
  Makefile
  script/Config.sol
  script/verify-seismic.py
Due: npm run prettier
